/* Estilo para vista del chat en el lado derecho */
.chat-container.right 
{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right; 
}

/* Estilo para vista del chat en el lado izquierdo */
.chat-container.left 
{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left; 
}


.message-container 
{
  max-height: 300px; 
  overflow-y: scroll; 
}

.message-list 
{
  list-style: none;
  padding: 0;
  height: 250px;
}

.message 
{
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.message-input 
{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button, .init-conversation-button 
{
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover, .init-conversation-button:hover 
{
  background-color: #0056b3;
}
